<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.backend.mapper.pms.PmsSpuMapper">

    <select id="selectGoodsList" resultType="com.mall.backend.model.vo.Goods">
        SELECT
        s.*,
        b.name as brandName,
        c.name as categoryName
        FROM pms_spu s
        LEFT JOIN pms_brand b ON s.brand_id = b.id
        LEFT JOIN pms_category c ON s.category_id = c.id
        <where>
            <if test="query.name != null and query.name != ''">
                AND s.name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.categoryId != null and query.categoryId != ''">
                AND s.category_id = #{query.categoryId}
            </if>
            <if test="query.brandId != null">
                AND s.brand_id = #{query.brandId}
            </if>
            <if test="query.status != null">
                AND s.status = #{query.status}
            </if>
        </where>
        ORDER BY s.create_time DESC
    </select>

    <select id="selectGoodsPage" resultType="com.mall.backend.model.vo.Goods">
        SELECT
        s.*,
        b.name as brandName,
        c.name as categoryName
        FROM pms_spu s
        LEFT JOIN pms_brand b ON s.brand_id = b.id
        LEFT JOIN pms_category c ON s.category_id = c.id
        <where>
            <if test="query.name != null and query.name != ''">
                AND s.name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.categoryId != null">
                AND s.category_id = #{query.categoryId}
            </if>
        </where>
        ORDER BY s.create_time DESC
        LIMIT #{query.pageSize} OFFSET #{query.pageNum-1}
    </select>

    <select id="selectGoodsCount" resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM pms_spu s
        LEFT JOIN pms_brand b ON s.brand_id = b.id
        LEFT JOIN pms_category c ON s.category_id = c.id
        <where>
            <if test="query.name != null and query.name != ''">
                AND s.name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.categoryId != null">
                AND s.category_id = #{query.categoryId}
            </if>
        </where>
    </select>

</mapper>
